<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>All Autonomous Systems</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="example" class="table table-striped responsive-utilities jambo_table">
                <thead>
                    <tr class="headings">
                        <th>
                            <input type="checkbox" class="tableflat">
                        </th>
                        <th>ASN </th>
                        <th>Name </th>
                        <th>Description </th>
                        <th>Routes Orginated </th>
                        <th>Updated </th>
                        <th class=" no-link last"><span class="nobr">Action</span>
                        </th>
                    </tr>
                </thead>
  <tbody>
{% for asn in object_list.items %}
  <!-- <p><a href="{{ url_for('asn.index') }}">{{ asn.asn }}</a>{{asn.name}}</p> -->
  <tr>
    <td class="a-center ">
        <input type="checkbox" class="tableflat">
    </td>
    <td><a href="http://bgp.he.net/AS{{asn.asn}}">{{asn.asn}}</a></td>
    {% if asn.name.split(' -', 1)[1] %}
      <td>{{asn.name.split(' -', 1)[1]}}</td>
      <td>{{asn.name.split(' -', 1)[0]}}</td>
    {% else %}
      <td>{{asn.name.split(' ', 1)[1]}}</td>
      <td>{{asn.name.split(' ', 1)[0]}}</td>
    {% endif %}
    <td>{{asn.prefixes|length}}</td>
    <td>{{asn.modified_timestamp.strftime("%Y-%m-%d %H:%M:%S %Z")}}</td>
    <td class=" last"><a href="#">View</a>
  </tr>
{% endfor %}
</tbody>
</table>
