{% extends "layout.html" %}
{% block content %}
  {% if autonomous_system is none %}
    <p>ASN not found<p>
  {% else %}
    {% set dnsname = autonomous_system.asn_name_query(autonomous_system.asn) %}
    <h1>ASN: {{ autonomous_system.asn }}</h1>
    <h3>{{ autonomous_system.name }}</h3>
    <h6>Peering Sessions:</h6>
    {% for peer_ip in autonomous_system.peering_sessions(autonomous_system) %}
      <h6>{{ peer_ip }} - {{ autonomous_system.reverse_dns_query(peer_ip) }} </h6>
    {% endfor %}
    <hr>
    <h3>Originated Prefixes</h3>
    <table id="prefix_list" class="table table-striped table-bordered table-condensed table-hover table-responsive">
      <thead>
          <tr class="headings">
              <th>Prefix </th>
              <th>IP Version </th>
              <th>Next Hop ASN </th>
              <th>Next Hop IP </th>
              <th>Local Pref </th>
              <th>Full AS Path </th>
              <th>Modified </th>
          </tr>
      </thead>
      {% for prefix in autonomous_system.origin_prefixes %}
      <tr>
        <td><a href="http://bgp.he.net/ip/{{prefix.prefix.split('/')[0]}}">{{ prefix.prefix }}</a></td>
        <td>{{ prefix.ip_version }}</td>
        <td><a href="{{prefix.next_hop_asn}}">{{prefix.next_hop_asn}}</a></td>
        <td>{{ prefix.next_hop_ip }}</td>
        <td>{{ prefix.local_pref }}</td>
        <td>
          [
          {% set asn_list = prefix.as_path.strip('[]').replace('\'', '').replace(' ', '') %}
          {% for asn in asn_list.split(',') %}
            <a href="{{asn}}">{{asn}}</a>,
          {% endfor %}
          ]
        </td>
        <td>{{ prefix.modified_timestamp.strftime("%Y-%m-%d %H:%M:%S %Z") }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
