{% extends "layout.html" %}
{% block content %}
          <!-- top tiles -->
          <div class="row tile_count">
              <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                  <div class="left"></div>
                  <div class="right">
                      <span class="count_top">Autonomous Systems</span>
                      <div class="count">{{ '{0:,}'.format(autonomoussystems.count()) }}</div>
                  </div>
              </div>
              <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                  <div class="left"></div>
                  <div class="right">
                      <span class="count_top">IPv4 Prefixes</span>
                      <div class="count">{{ '{0:,}'.format(ipv4_prefixes.count()) }} </div>
                  </div>
              </div>
              <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                  <div class="left"></div>
                  <div class="right">
                    <span class="count_top">IPv6 Prefixes</span>
                    <div class="count">{{ '{0:,}'.format(ipv6_prefixes.count()) }} </div>
                  </div>
              </div>
              <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                  <div class="left"></div>
                  <div class="right">
                    <span class="count_top">BGP Peers</span>
                    <div class="count">{{ '{0:,}'.format(peers.count()) }} </div>
                  </div>
              </div>
              <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                  <div class="left"></div>
                  <div class="right">
                    <span class="count_top">Peering Sessions</span>
                    <div class="count">{{ '{0:,}'.format(nexthop_ips.count()) }} </div>
                  </div>
              </div>
              <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                  <div class="left"></div>
                  <div class="right">
                      <span class="count_top">Last Update</span>
                      <div class="count">Today</div>
                  </div>
              </div>
          </div>
          <!-- /top tiles -->
      <!-- page content -->
      <hr>
      <h3>BGP Peers</h3>
      <table id="peers_list" class="table table-striped table-bordered table-condensed table-hover table-responsive">
        <thead>
            <tr class="headings">
                <th>ASN </th>
                <th>Name </th>
                <th>Description </th>
                <th>Orginated Prefixes</th>
                <th>BGP Routes</th>
                <th>Peering Sessions v4/v6</th>
                <th>Updated </th>
            </tr>
        </thead>
        {% for asn in peers %}
          {% set dnsname = asn.asn_name_query(asn.asn) %}
        <tr>
          <td><a href="asn\{{asn.asn}}">{{asn.asn}}</a></td>
          {% if dnsname.split(' -', 1)[1] %}
            <td>{{dnsname.split(' -', 1)[1]}}</td>
            <td>{{dnsname.split(' -', 1)[0]}}</td>
          {% else %}
            <td>{{dnsname.split(' ', 1)[1]}}</td>
            <td>{{dnsname.split(' ', 1)[0]}}</td>
          {% endif %}
          <td><a href="asn\{{asn.asn}}">{{asn.origin_prefixes.count()}}</a></td>
          <td><a href="asn\{{asn.asn}}\routes">{{asn.best_routes.count()}}</a></td>
          <td>{{asn.ipv4_peer_count(asn)}}/{{asn.ipv6_peer_count(asn)}}</td>
          <td>{{asn.modified_timestamp.strftime("%Y-%m-%d %H:%M:%S %Z")}}</td>
        </tr>
        {% endfor %}
      </table>
      <!-- /page content -->
{% endblock %}
